$primary-lime: #84cc16;
$secondary-lime: #3f6212;
$lighter-stone: #fafaf9;
$light-stone: #57534e;
$dark-stone: #1c1917;

$light-grey: #e6e6e6;
$medium-grey: #666666;


$tertiary-lime: #65a30d;
$light-lime-1: #d9f99d;
$light-lime-2: #ecfccb;
$dark-lime: #1a2e05;

$primry-green: #208008;
$secondary-green: #33cc0c;
$dark-grey: #333333;

// FLOAT GRID
$grid-width: 120rem;