$primary-lime: #84cc16;
$secondary-lime: #3f6212;
$dark-stone: #1c1917;
$light-grey: #e6e6e6;
$light-stone: #57534e;



$tertiary-lime: #65a30d;
$light-lime-1: #d9f99d;
$light-lime-2: #ecfccb;
$dark-lime: #1a2e05;
$lighter-stone: #fafaf9;

$primry-green: #208008;
$secondary-green: #33cc0c;
$dark-grey: #333333;
$medium-grey: #666666;

// FLOAT GRID
$grid-width: 120rem;