:root {
    // COLORS
    --color-yellow-primary: #f0b100;
    --color-yellow-secondary: #d08700;
    --color-yellow-dark: #432004;
    --color-yellow-dark-light: #713f12;

    --color-stone-dark: #0c0a09;
    --color-stone-medium: #292524;
    --color-stone-light: #57534e;

    --color-gray-light-1: #9ca3af;
    --color-gray-light-2: #e5e7eb;
    --color-gray-light-3: #f9fafb;

    // SHADOW
    --shadow-box: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}
// FONT FAMILIES
$font-primary: "Nunito", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;

// MARGIN
.mb-sm {
    margin-bottom: 1.2rem;
}
.mb-md {
    margin-bottom: 2.4rem;
}
.mb-bg {
    margin-bottom: 3.2rem;
}
.mb-lg {
    margin-bottom: 4.8rem;
}
.mb-xl {
    margin-bottom: 6.4rem;
}

// **** BREAKPOINTS VARIABLES *****

$breakpoint-lg: 68.75em; // 1100px
$breakpoint-md: 60rem; // 960px
$breakpoint-sm: 43.75rem; // 700px
$breakpoint-xs: 31.25rem; // 500px
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a:link {
    text-decoration: none;
}
li {
    list-style: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: $breakpoint-lg) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $breakpoint-md) {
        font-size: 50%;
    }
}
body {
    font-family: $font-primary;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1.2px;
    min-height: 100vh;
    color: var(--color-yellow-dark-light);
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content 60vh repeat(3, min-content);
    grid-template-columns:
        [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(
            8,
            [col-start] minmax(min-content, 15rem) [col-end]
        )
        [center-end] 1fr [full-end];

    @media only screen and (max-width: $breakpoint-md) {
        grid-template-rows: 8rem 80vh min-content 60vh repeat(3, min-content);
        grid-template-columns:
            [full-start] 1fr [center-start ]repeat(
                8,
                [col-start] minmax(min-content, 15rem) [col-end]
            )
            [center-end] 1fr [full-end];
    }

    @media only screen and (max-width: $breakpoint-sm) {
        grid-template-rows: 8rem calc(100vh - 8rem);
    }
}
