@use "./base" as *;
.header {
    grid-column: full-start/ col-end 6;
    background-image: linear-gradient(rgba(#0c0a09, 0.8), rgba(#0c0a09, 0.7)),
        url("../images/hero.jpeg");
    background-position: center;
    background-size: cover;

    display: grid;
    grid-template-rows: 1fr min-content minmax(7vh, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    justify-content: center;
    gap: 1.2rem;
    padding: 6.4rem;

    @media only screen and (max-width: $breakpoint-sm) {
        grid-column: full-start / full-end;
    }

    &__logo {
        height: 4rem;
        justify-self: center;
    }

    &--btn {
        justify-self: start;
        align-self: start;
    }
    &__seenon-txt {
        color: var(--color-gray-light-2);
        font-size: 1.2rem;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        &::before,
        &::after {
            content: "";
            background-color: currentColor;
            height: 1px;
        }
    }
    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 2.4rem;
    }
    &__seenon-logo {
        max-height: 2rem;
        max-width: 100%;
        filter: brightness(70%);
    }
}
