.story{
     &__pictures{
          grid-row: 3/4;
          grid-column: 2 /7;
          background-color: peru;
     }
     &__content{
           grid-row: 3/4;
          grid-column: 7 /-1;
          background-color: palegreen;
     }
}