@use "./base" as *;
%heading {
    font-family: $font-secondary;
    font-weight: 400;
}
.heading-1 {
    @extend %heading;
}
.heading-2 {
    @extend %heading;
}
.heading-3 {
    @extend %heading;
}
.heading-4 {
    @extend %heading;
    font-size: 1.8rem;

    &--ligt {
        color: var(--color-yellow-dark-light);
    }
    &--dark {
        color: var(--color-yellow-dark);
    }
}
