$primary-lime: #84cc16;
$secondary-lime: #3f6212;
$tertiary-lime: #65a30d;
$light-lime: #d9f99d;
$dark-lime: #1a2e05;
$dark-stone: #1c1917;
$light-stone: #57534e;
$lighter-stone: #fafaf9;

$primry-green: #208008;
$secondary-green: #33cc0c;
$dark-grey: #333333;
$medium-grey: #666666;
$light-grey: #e6e6e6;
.btn {
    &:link,
    &:visited {
        color: $medium-grey;
        display: inline-block;
        background-color: $lighter-stone;
        font-size: 2.4rem;
        padding: 2rem 4rem;
        border-radius: 50px;
        text-transform: uppercase;
        transition: all 0.2s;
        position: relative;
        animation: moveInBottom 0.5s ease-out 0.7s;
        animation-fill-mode: backwards;
    }
    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

        &::after {
            background-color: $lighter-stone;
            transform: scaleX(1.2) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5rem;
        z-index: -1;
        transition: all 0.4s;
        background-color: $lighter-stone;
    }
}

.btn-txt {
    &:link,
    &:visited {
        font-size: 1.6rem;
        color: $primry-green;
        border-bottom: 1px solid $primry-green;
        transition: all 0.2s ease-out;
        padding: 0.4rem 0.8rem;
        border-radius: .2rem;
        // For transform: translateY(-3px)
        display: inline-block;
    }
    &:hover {
        background-color: $primry-green;
        color: $lighter-stone;
        box-shadow: 0 1rem 2rem rgba($dark-stone, 0.3);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 0.5rem 1rem rgba($dark-stone, 0.3);
        transform: translateY(0);
    }
}
