$primary-lime: #84cc16;
$secondary-lime: #3f6212;
$tertiary-lime: #65a30d;
$light-lime: #d9f99d;
$dark-lime: #1a2e05;
$dark-stone: #1c1917;
$light-stone: #57534e;
$lighter-stone: #fafaf9;

$primry-green: #208008;
$secondary-green: #33cc0c;
$dark-grey: #333333;
$medium-grey: #666666;
$light-grey: #e6e6e6;
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}
body {
    box-sizing: border-box;
    background-color: $lighter-stone;
}
