$primary-lime: #84cc16;
$secondary-lime: #3f6212;
$tertiary-lime: #65a30d;
$light-lime: #d9f99d;
$dark-lime: #1a2e05;
$dark-stone: #1c1917;
$light-stone: #57534e;
$lighter-stone: #fafaf9;

$primry-green: #208008;
$secondary-green: #33cc0c;
$dark-grey: #333333;
$medium-grey: #666666;
$light-grey: #e6e6e6;

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 3rem;
    letter-spacing: 1.2px;
}
.heading-primary {
    color: $lighter-stone;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6.4rem;
}

.heading--hero {
    display: block;
    font-size: 6.4rem;
    letter-spacing: 2rem;
    font-weight: 700;
    animation: moveInLeft 1s ease-out;
}
.heading-hero--sub {
    display: block;
    letter-spacing: 1rem;
    font-weight: 600;
    animation: moveInRight 1s ease-out;
}

.heading-secondary {
    background-image: linear-gradient(to right, $primary-lime, $secondary-lime);
    background-clip: text;
    color: transparent;
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all 0.2s ease-out;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 0.8rem 2rem rgba($dark-stone, $alpha: 0.3);
    }
}

.heading-tertiary{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $medium-grey;
}
.paragraph{
    font-size: 1.6rem;
    color: $medium-grey;
    font-size: 1.4rem;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}
