$lighter-stone: #fafaf9;
$light-lime: #f7fee7;

.section-about {
    background-color: $lighter-stone;
    padding: 25rem 0;
    margin-top: -20vh;
    padding-bottom: 35rem;
}

.section-features {
    background-image: linear-gradient(
            to right bottom,
            rgba(131, 204, 22, 0.751),
            rgba(100, 163, 13, 0.279)
        ),
        url("../images/nat-4.jpg");
    background-position: top;
    background-size: cover;
    padding: 20rem 0;
    transform: skewY(-7deg);
    margin-top: -8.5rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $lighter-stone;
    padding: 25rem 0 10rem 0;
    margin-top: -9rem;
}

.section-story {
    padding: 10rem 0;
    position: relative;
}
